@import "../../../shared/styles/app/variables.scss";

.card {
  border-radius: 0;
  .card-body {
    .handle {
      cursor: pointer;
    }
  }
}

.action-icons {
  cursor: pointer;
  transition: 200ms ease-in-out;
  &:hover,
  &:active,
  &:focus {
    transform: scale(1.3);
    color: $laranja;
  }
}
