<div class="container">
  <div class="row mt-3 mb-3">
    <div class="col col-12 col-lg-8 text-left">
      <h3>Processos</h3>
      <p>Gerencie os processos de jobs. Processos são utilizados para determinar como cada job deve se comportar.
        É a partir dos processos que organizamos qual a situação, qual colocaborador está trabalhando e o quais são os
        futuros passos à serem realizado no job.
      </p>
    </div>
    <div class="col col-12 col-lg-4">
      <searchbar></searchbar>
    </div>
  </div>
  <div class="row mt-3 mb-3">
    <div class="col col-12 col-lg-2 offset-lg-10 text-right">
      <button mat-flat-button class="bg-laranja w-100" [routerLink]="'/configuracoes/processos/novo'">Novo Processo</button>
    </div>
  </div>
</div>